@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-blue-50: #f1f5fb;
  --color-blue-100: #d9e2f3;
  --color-blue-200: #b0c4e3;
  --color-blue-300: #89a7d0;
  --color-blue-400: #5f86b3;
  --color-blue-500: #2d4b81;
  --color-blue-600: #263f74;
  --color-blue-700: #1f3362;
  --color-blue-800: #18284f;
  --color-blue-900: #111d3c;
  --color-blue-950: #0b1329;
}
